# Severe Weather Capstone - Data Collection & Wrangling

Greg Welliver

In [1]:
# Import relevant libraries and packages.
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.api as sm
from statsmodels.graphics.api import abline_plot
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn import linear_model, preprocessing 
import warnings
from scipy import stats
import re
from glob import glob, iglob
from datetime import datetime

file location for downloads: 
    https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/

## Data Collection

- storm files were collected from the Iowa Environmental Mesonet: https://mesonet.agron.iastate.edu/nws/

### working code, make markdown for now
### All annual storm data files are saved on my local machine.  This code gathers all of the files and combines them into one file.
filenames = glob('../Data/*.csv')
print("There is a total of {} files.".format(len(filenames)))

target_path = '../Data/all_storm_data.csv'

try:
    # Read in Summary File is exists
    all_storm_data = pd.read_csv(target_path)
except:
    # Read in all Subfiles
    storm_data = [pd.read_csv(filepath) for filepath in filenames]
    all_storm_data = pd.concat(storm_data)
    
    # Create Summary File for faster processing
    hot100_all.to_csv(target_path,index=False)

print("The total number of observations is {}.".format(len(all_storm_data)))
all_storm_data.head()

In [2]:
# load data
#df = pd.read_csv("../Data/StormEvents_details-ftp_v1.0_d2001_c20220425.csv")
#df = pd.read_parquet("../Data/all_storm_data.pqt")
#df = pd.read_csv("../Data/all_storm_data4.csv")

In [3]:
#df.head()

In [4]:
#df.shape

In [5]:
#df.isna().sum()

In [6]:
#df.info()

for row in df["STATE_FIPS"][:10]:
    res = row.split(".", 1)[0]
    print(res)

# WORKING, MARKDOWN UNTIL FINAL
# drop unnecessary columns
df.drop(['CATEGORY', 'DATA_SOURCE', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE', 'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'CZ_TIMEZONE', 'WFO', 'CZ_TYPE', 'DAMAGE_CROPS'
], axis=1, inplace=True)

# WORKING, MARKDOWN UNTIL FINAL
df['STATE_FIPS'] = df['STATE_FIPS'].astype(object)

# WORKING, MARKDOWN UNTIL FINAL
# Columns to replace nulls with NA:
cols_na = ['EVENT_NARRATIVE', 'EPISODE_NARRATIVE', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'TOR_F_SCALE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'STATE', 'STATE_FIPS']

for x in cols_na:
    print(df[x].isna().sum())

# WORKING, MARKDOWN UNTIL FINAL
for x in cols_na:
    df[x] = df[x].fillna('NA')

for x in cols_na:
    print(df[x].isna().sum())

# WORKING, MARKDOWN UNTIL FINAL
# Columns to replace nulls with 0:

cols_0 = ['MAGNITUDE', 'TOR_LENGTH', 'TOR_WIDTH', 'DAMAGE_PROPERTY', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT']

for x in cols_0:
    print(df[x].isna().sum())

# WORKING, MARKDOWN UNTIL FINAL
for x in cols_0:
    df[x] = df[x].fillna(0)

for x in cols_0:
    print(df[x].isna().sum())

In [7]:
#df.isna().sum()

In [8]:
#df.dtypes

# WORKING, MARKDOWN UNTIL FINAL
# remove NA values from state FIPS
df = df[df['STATE_FIPS'] != "NA"].reset_index()

# convert STATE_FIPS to INT so can use it for lookup later
for x in df['STATE_FIPS']:
    x = int(x)

df['STATE_FIPS'] = df['STATE_FIPS'].astype(int)

df['STATE_FIPS'] = df['STATE_FIPS'].astype(object)

df['STATE_FIPS']

df['CZ_FIPS'] = df['CZ_FIPS'].astype(str)

df['CZ_FIPS']

df['CZ_FIPS'][:5]

In [9]:
#df[249750:249760]

df['CZ_FIPS'][249750:249760]

# WORKING, MARKDOWN UNTIL FINAL
# add "0" or "00" to CZ FIPS so that it can be used to match later
for i in (range(len(df['CZ_FIPS']))):
    if len(df['CZ_FIPS'][i]) == 2:
#        df['CZ_FIPS'][i] = df['CZ_FIPS'][i].astype(str)
        df['CZ_FIPS'][i] = "0" + df['CZ_FIPS'][i]
#        print(df['CZ_FIPS'][i])
    elif len(df['CZ_FIPS'][i]) == 1:
        df['CZ_FIPS'][i] = "00" + df['CZ_FIPS'][i]
#        print(df['CZ_FIPS'][i])
#     else:
#         row

df['STATE_FIPS'] = df['STATE_FIPS'].astype(str)

# WORKING, MARKDOWN UNTIL FINAL
# add "0" to state FIPS so that it can be used to match later
for i in (range(len(df['STATE_FIPS']))):
    if len(df['STATE_FIPS'][i]) == 1:
#        df['CZ_FIPS'][i] = df['CZ_FIPS'][i].astype(str)
        df['STATE_FIPS'][i] = "0" + df['STATE_FIPS'][i]
#        print(df['CZ_FIPS'][i])

In [10]:
#df["CZ_FIPS"] = df.apply(lambda x: "0" + x if len(x) == 2)

# WORKING, MARKDOWN UNTIL FINAL
# concatenate STATE FIPS and CZ FIPS into one column so that it can be used to match
df['ST_CT_FIPS'] = df['STATE_FIPS'].astype(str) + df['CZ_FIPS'].astype(str)

# WORKING, MARKDOWN UNTIL FINAL
# remove all of the K's, M's, and B's in the DAMAGE_PROPERTY column and multiply them by appropriate values
d = {r"(\d)K$": r"\1*1000", r"M$": r"*1000000", r"B$": r"*1000000000", r"^K$": r"1000"}

for k,v in d.items():
     df["DAMAGE_PROPERTY"] = df["DAMAGE_PROPERTY"].str.replace(k, v, regex=True).fillna("0.0")
#df["DAMAGE_PROPERTY"].apply(eval)
df["DAMAGE_PROPERTY"] = df["DAMAGE_PROPERTY"].apply(eval)

# WORKING, MARKDOWN UNTIL FINAL
# convert date strings to datetimes
df['BEGIN_DATE_TIME'] =  pd.to_datetime(df['BEGIN_DATE_TIME'])
df['END_DATE_TIME'] =  pd.to_datetime(df['END_DATE_TIME'])

# WORKING, MARKDOWN UNTIL FINAL
# calculate duration of storm
df['DURATION'] = df['END_DATE_TIME'] - df['BEGIN_DATE_TIME']

# convert storm duration to minutes
for i in (range(len(df['DURATION']))):
    df['DURATION'][i] = df['DURATION'][i].total_seconds() / 60

## Part 2 start here

In [11]:
#load the data
# df = pd.read_csv("../Data/all_storm_data4.csv", index_col=[0])
# df.drop(['index'], axis=1, inplace=True)
df = pd.read_parquet("../Data/all_storm_data6.pqt")

In [12]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,TOR_LENGTH,TOR_WIDTH,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,ST_CT_FIPS,DURATION
0,202202,20,2118,202202,20,2218,165464,999902,NEVADA,32,...,0.0,0.0,NaN,NaN,NaN,NaN,Strong winds increased ahead of an approaching...,"Station (UP994) 3.1 SE West Wendover, Elevatio...",32033,60.0
1,202202,21,800,202202,22,1000,165465,999903,NEVADA,32,...,0.0,0.0,NaN,NaN,NaN,NaN,A low centered over northern and central Nevad...,Thirteen inches fell at station (BCSN2) Big Cr...,32037,1560.0
2,202202,22,200,202202,22,900,165465,999904,NEVADA,32,...,0.0,0.0,NaN,NaN,NaN,NaN,A low centered over northern and central Nevad...,Fifteen inches fell at station (TJMN2) Toe Jam...,32031,420.0
3,202202,18,1609,202202,18,1609,165611,1001181,ATLANTIC SOUTH,87,...,0.0,0.0,30.050,-81.1700,30.0500,-81.1700,Pre-frontal showers and thunderstorms moved so...,A brief waterspout was observed offshore of So...,87452,0.0
4,202202,2,0,202202,3,0,165668,1001527,AMERICAN SAMOA,97,...,0.0,0.0,-14.333,-170.7157,-14.3393,-170.7268,A surface trough over the Islands held the po...,"Over a 24-hour period, WSO Pago Pago recorded ...",97002,1440.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555647 entries, 0 to 1555646
Data columns (total 37 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   BEGIN_YEARMONTH    1555647 non-null  int64
 1   BEGIN_DAY          1555647 non-null  int64
 2   BEGIN_TIME         1555647 non-null  int64
 3   END_YEARMONTH      1555647 non-null  int64
 4   END_DAY            1555647 non-null  int64
 5   END_TIME           1555647 non-null  int64
 6   EPISODE_ID         1555647 non-null  int64
 7   EVENT_ID           1555647 non-null  int64
 8   STATE              1555647 non-null  object
 9   STATE_FIPS         1555647 non-null  int64
 10  YEAR               1555647 non-null  int64
 11  MONTH_NAME         1555647 non-null  object
 12  EVENT_TYPE         1555647 non-null  object
 13  CZ_FIPS            1555647 non-null  int64
 14  CZ_NAME            1555647 non-null  object
 15  BEGIN_DATE_TIME    1555647 non-null  datetime64[ns]
 16  END_DATE_TIME      1555647 non-null  datetime64[ns]
 17  INJURIES_DIRECT    1555647 non-null  int64
 18  INJURIES_INDIRECT  1555647 non-null  int64
 19  DEATHS_DIRECT      1555647 non-null  int64
 20  DEATHS_INDIRECT    1555647 non-null  int64
 21  DAMAGE_PROPERTY    1555647 non-null  float64
 22  SOURCE             1555647 non-null  object
 23  MAGNITUDE          1555647 non-null  float64
 24  MAGNITUDE_TYPE     517597 non-null   object
 25  FLOOD_CAUSE        116296 non-null   object
 26  TOR_F_SCALE        36040 non-null    object
 27  TOR_LENGTH         1555647 non-null  float64
 28  TOR_WIDTH          1555647 non-null  float64
 29  BEGIN_LAT          916593 non-null   float64
 30  BEGIN_LON          916584 non-null   float64
 31  END_LAT            916593 non-null   float64
 32  END_LON            916584 non-null   float64
 33  EPISODE_NARRATIVE  1357403 non-null  object
 34  EVENT_NARRATIVE    990579 non-null   object
 35  ST_CT_FIPS         1555647 non-null  int64
 36  DURATION           1555647 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(16), object(10)
memory usage: 451.0+ MB

In [14]:
df['BEGIN_LAT'] = df['BEGIN_LAT'].replace("NA", "")

In [15]:
df['BEGIN_LAT'] = df['BEGIN_LAT'].astype(float)
# df['BEGIN_LON'] = df['BEGIN_LON'].astype(float)
# df['END_LAT'] = df['END_LAT'].astype(float)
# df['END_LON'] = df['END_LON'].astype(float)

#### write to CSV
from pathlib import Path  
filepath = Path('/Users/gregwelliver/Desktop/springboard_files/Severe-Weather-Repo/Data/all_storm_data5.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)

#### write to parquet
parquet_file = 'example_pd.parquet'

df.to_parquet(parquet_file, engine = 'pyarrow', compression = 'gzip')

logging.info('Parquet file named "%s" has been written to disk', parquet_file)

In [16]:
df['test_column'] = 'NA'

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555647 entries, 0 to 1555646
Data columns (total 38 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   BEGIN_YEARMONTH    1555647 non-null  int64
 1   BEGIN_DAY          1555647 non-null  int64
 2   BEGIN_TIME         1555647 non-null  int64
 3   END_YEARMONTH      1555647 non-null  int64
 4   END_DAY            1555647 non-null  int64
 5   END_TIME           1555647 non-null  int64
 6   EPISODE_ID         1555647 non-null  int64
 7   EVENT_ID           1555647 non-null  int64
 8   STATE              1555647 non-null  object
 9   STATE_FIPS         1555647 non-null  int64
 10  YEAR               1555647 non-null  int64
 11  MONTH_NAME         1555647 non-null  object
 12  EVENT_TYPE         1555647 non-null  object
 13  CZ_FIPS            1555647 non-null  int64
 14  CZ_NAME            1555647 non-null  object
 15  BEGIN_DATE_TIME    1555647 non-null  datetime64[ns]
 16  END_DATE_TIME      1555647 non-null  datetime64[ns]
 17  INJURIES_DIRECT    1555647 non-null  int64
 18  INJURIES_INDIRECT  1555647 non-null  int64
 19  DEATHS_DIRECT      1555647 non-null  int64
 20  DEATHS_INDIRECT    1555647 non-null  int64
 21  DAMAGE_PROPERTY    1555647 non-null  float64
 22  SOURCE             1555647 non-null  object
 23  MAGNITUDE          1555647 non-null  float64
 24  MAGNITUDE_TYPE     517597 non-null   object
 25  FLOOD_CAUSE        116296 non-null   object
 26  TOR_F_SCALE        36040 non-null    object
 27  TOR_LENGTH         1555647 non-null  float64
 28  TOR_WIDTH          1555647 non-null  float64
 29  BEGIN_LAT          916593 non-null   float64
 30  BEGIN_LON          916584 non-null   float64
 31  END_LAT            916593 non-null   float64
 32  END_LON            916584 non-null   float64
 33  EPISODE_NARRATIVE  1357403 non-null  object
 34  EVENT_NARRATIVE    990579 non-null   object
 35  ST_CT_FIPS         1555647 non-null  int64
 36  DURATION           1555647 non-null  float64
 37  test_column        1555647 non-null  object
dtypes: datetime64[ns](2), float64(9), int64(16), object(11)
memory usage: 462.9+ MB

In [18]:
df['DURATION'] = df['DURATION'].astype(int)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555647 entries, 0 to 1555646
Data columns (total 38 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   BEGIN_YEARMONTH    1555647 non-null  int64
 1   BEGIN_DAY          1555647 non-null  int64
 2   BEGIN_TIME         1555647 non-null  int64
 3   END_YEARMONTH      1555647 non-null  int64
 4   END_DAY            1555647 non-null  int64
 5   END_TIME           1555647 non-null  int64
 6   EPISODE_ID         1555647 non-null  int64
 7   EVENT_ID           1555647 non-null  int64
 8   STATE              1555647 non-null  object
 9   STATE_FIPS         1555647 non-null  int64
 10  YEAR               1555647 non-null  int64
 11  MONTH_NAME         1555647 non-null  object
 12  EVENT_TYPE         1555647 non-null  object
 13  CZ_FIPS            1555647 non-null  int64
 14  CZ_NAME            1555647 non-null  object
 15  BEGIN_DATE_TIME    1555647 non-null  datetime64[ns]
 16  END_DATE_TIME      1555647 non-null  datetime64[ns]
 17  INJURIES_DIRECT    1555647 non-null  int64
 18  INJURIES_INDIRECT  1555647 non-null  int64
 19  DEATHS_DIRECT      1555647 non-null  int64
 20  DEATHS_INDIRECT    1555647 non-null  int64
 21  DAMAGE_PROPERTY    1555647 non-null  float64
 22  SOURCE             1555647 non-null  object
 23  MAGNITUDE          1555647 non-null  float64
 24  MAGNITUDE_TYPE     517597 non-null   object
 25  FLOOD_CAUSE        116296 non-null   object
 26  TOR_F_SCALE        36040 non-null    object
 27  TOR_LENGTH         1555647 non-null  float64
 28  TOR_WIDTH          1555647 non-null  float64
 29  BEGIN_LAT          916593 non-null   float64
 30  BEGIN_LON          916584 non-null   float64
 31  END_LAT            916593 non-null   float64
 32  END_LON            916584 non-null   float64
 33  EPISODE_NARRATIVE  1357403 non-null  object
 34  EVENT_NARRATIVE    990579 non-null   object
 35  ST_CT_FIPS         1555647 non-null  int64
 36  DURATION           1555647 non-null  int64
 37  test_column        1555647 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(17), object(11)
memory usage: 462.9+ MB

In [20]:
df['DURATION'][:10]

0      60
1    1560
2     420
3       0
4    1440
5    1020
6     600
7     660
8    1680
9    1680
Name: DURATION, dtype: int64

In [21]:
for i in df['DURATION'][:10]:
    if df['DURATION'][i] == 1560:
        df['test_column'][i] = "balls"
    elif df['DURATION'][i] == 420:
        df['test_column'][i] = "basket"

SyntaxError: cannot assign to function call (2502411562.py, line 5)

In [ ]:
df['test_column'][:10]

    just for purpose of testing

#### write to parquet
from pathlib import Path  
filepath = Path('/Users/gregwelliver/Desktop/springboard_files/Severe-Weather-Repo/Data/all_storm_data6.pqt')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_parquet(filepath)

resources

CZ FIPS documentation: https://www.irsa.miami.edu/_assets/pdf/Documents/fips_statecounty_code.pdf

Population density: https://covid19.census.gov/datasets/21843f238cbb46b08615fc53e19e0daf_1/explore?location=2.632620%2C0.315550%2C1.00

Home price index: https://www.fhfa.gov/DataTools/Downloads/Pages/House-Price-Index-Datasets.aspx

maybe useful: https://www.nar.realtor/research-and-statistics/housing-statistics/county-median-home-prices-and-monthly-mortgage-payment
        
land values: https://www.nass.usda.gov/Publications/Todays_Reports/reports/land0822.pdf